.about-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  height: 80vh;
  }
  
  .about-container h2 {
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .about-container p {
    color: #7f8c8d;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .about-container p span {
    color: #1abc9c;
    font-weight: bold;
  }
  