/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html, body {
  font-family: 'Poppins', sans-serif; 
  font-weight: 700; 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body > * {
  margin: 0;
}

header, footer, main {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
